<template>
  <article class="mod-option panel" data-component="panel" data-ui-component="mod-option">
    <div class="mod-option__summary">
      <div class="mod-option__identity">
        <strong data-field="name"></strong>
        <span data-field="id"></span>
      </div>
      <span class="mod-option__schema" data-field="schema"></span>
    </div>
    <div class="mod-option__action" data-slot="action"></div>
    <pre class="mod-option__diagnostics" data-field="diagnostics" hidden></pre>
  </article>
</template>
