<template>
  <div class="player-chip" data-component="player-chip" data-variant="default">
    <div class="player-chip__portrait-wrap">
      <img class="player-chip__portrait" data-field="portrait" alt="">
      <span class="player-chip__rank panel" data-component="panel" data-theme-role="panel.opponentRankBadge" data-field="id"></span>
      <span class="player-chip__health panel" data-component="panel" data-theme-role="panel.healthBadge" data-field="health"></span>
    </div>
  </div>
</template>
